.card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 329px;
	height: 248px;
	padding: 35px 40px 30px 40px;
	background-color: var(--color-light);
	box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}

.card h2 {
	font-size: 16px;
}

.card span {
	font-family: montserrat;
	font-weight: 400;
	font-size: 14px;
	color: var(--color-gray);
}

.stripe {
	width: 50px;
	height: 2px;
	flex-shrink: 0;
	background-color: #e74040;
}

.card span {
	font-family: montserrat;
	font-weight: 400;
	font-size: 14px;
	color: var(--color-gray);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%; /* Убедитесь, что ширина элемента соответствует */
}
